body {
    background-image: url(../assets/vaporwave-aesthetic.gif);
    position: fixed;
    width: 100%;
    
   
    
    background-size: 2000px 800px;
    
    background-repeat: no-repeat;
    
}